@{
    ViewBag.Title = "Developer Sandbox";
}

<div class="jumbotron">
    <h1>Micad Systems Developer Sandbox</h1>
    <p class="lead">Welcome</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Localhost</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>